.wrapper {
  padding-top: 117px;
  padding-bottom: 117px;
  background: linear-gradient(154.71deg, rgba(67, 117, 191, 0.9) 2.78%, rgba(67, 169, 191, 0.693) 90.98%);
  border-radius: 24px;
  margin-bottom: 8px;
  color: white;
}
.jumbotronImageWrap {
  width: 535px;
  margin: auto;
  max-width: 100%;
}

.jumbotronImage {
  padding-top: 133.74%;
  margin-top: -44px;
  margin-bottom: -440px;
  filter: drop-shadow(10px 12px 35px rgba(0, 0, 0, 0.15)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
}