@import "/styles/variables.scss";

.listIcon {
  display: inline-flex;
  margin-right: 8px;
}
.listContent {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.16px;

  @media (max-width: $xl) {
    font-size: 13px;
    line-height: 1.23;
  }
}