.wrapper {
  padding-top: 24px;
  padding-bottom: 12px;
  background-color: white;
  border-radius: 20px;
  color: #171717;
}
.subscribeStatus {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.premiumDuration {
  display: flex;
  align-items: center;
}
.payButton {
  display: flex;
  margin-right: 8px;
}