@import "/styles/variables.scss";

.numberWrapper {
  margin-right: 12px;
  min-width: 56px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #4392BF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(248, 248, 248, 1) 40%, rgba(248, 248, 248, 1) 100%);
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.16px;
}

.listItem {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 32px;
    & .numberWrapper:after {
        content: "";
        position: absolute;
        top: calc(100% + 8px);
        left: 50%;
        height: 12px;
        width: 0px;
        border: 1px dashed rgba(23, 23, 23, 0.08);
        transform: translateX(-50%);
      }
    @media (max-width: $xl) {
      margin-bottom: 35px;
    }
    @media (max-width: $md) {
      margin-bottom: 31px;
    }
  }
}