.footer {
  box-sizing: border-box;
  padding: 24px 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrightWrapper {
  color: #848592;
  font-size: 11px;
}