@import "/styles/variables.scss";

.footer {
  box-sizing: border-box;
  padding: 24px 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrightWrapper {
  color: #848592;
  font-size: 11px;
  @media (max-width: $xl) {
    text-align: center;
  }
  @media (max-width: $md) {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &>* {
    margin-bottom: 4px;
  }
}
.modalWrapper {
  div>& {
    width: 1300px;
    max-width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 44px 67px 44px 67px;

    @media (max-width: $xl) {
      padding: 44px 12px 12px 12px;
      width: 536px;
      margin: 30px auto
    }
  }
}

.modalContent {
  overflow: auto;
  height: 100%;
  padding-right: 10px;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(23, 23, 23, 0.08);
    border-radius: 24px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4392BF;
    border-radius: 24px;
  }
}

.modalClose {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.linksMDStyles a {
  text-decoration: underline;
}