@import "/styles/variables.scss";

.jumbotronImageWrap {
  pointer-events: none;
  user-select: none;
  position: relative;
  width: 352px;
  margin: auto;
  max-width: 100%;

  @media (max-width: $xl) {
    width: 212px;
  }
}

.jumbotronImage {
  padding-top: 203.125%;
  margin-top: -20px;
  margin-bottom: -440px;
  filter: drop-shadow(10px 12px 35px rgba(0, 0, 0, 0.15)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
  @media (max-width: $xl) {
    margin-top: -13px;
  }
  @media (max-width: $md) {
    margin-top: 48px;
    margin-bottom: -215px;
  }
}

.bigImage {
  position: absolute;
  width: 43.33px;
  height: 129.9px;
  border-radius: 32px;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9%;
    left: -35%;
    border-radius: 32px;
    background-color: rgba(255,255,255,0.2);
  }

  @media (max-width: $xl) {
    width: 26.06px;
    height: 78.13px;
  }
}
.miniImage {
  position: absolute;
  width: 29.79px;
  height: 86.6px;
  border-radius: 32px;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15%;
    left: -45%;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media (max-width: $xl) {
    width: 17.92px;
    height: 52.08px;
  }
}
.image-1 {
  left: -16%;
  top: 43%;
}.image-2 {
  left: -0.5%;
  top: 32%;
}.image-3 {
  left: 19.5%;
  top: 38%;
}.image-4 {
  left: 34.5%;
  top: 37%;
}.image-5 {
  left: 54.5%;
  top: 33%;
}.image-6 {
  left: 70.5%;
  top: 38%;
}.image-7 {
  left: 89.5%;
  top: 37%;
}.image-8 {
  left: 105.5%;
  top: 33%;
}.image-9 {
  left: -16.5%;
  top: 59%;
}.image-10 {
  left: 1.5%;
  top: 54%;
}.image-11 {
  left: 17.5%;
  top: 54%;
}.image-12 {
  left: 36.5%;
  top: 59%;
}.image-13 {
  left: 54.5%;
  top: 49%;
}.image-14 {
  left: 72.5%;
  top: 60%;
}.image-15 {
  left: 87.5%;
  top: 53%;
}.image-16 {
  left: 107.5%;
  top: 55%;
}.image-17 {
  left: -18.5%;
  top: 75%;
}.image-18 {
  left: 1.5%;
  top: 70%;
}.image-19 {
  left: 19.5%;
  top: 76%;
}.image-20 {
  left: 34.5%;
  top: 75%;
}.image-21 {
  left: 52.5%;
  top: 65%;
}.image-22 {
  left: 72.5%;
  top: 76%;
}.image-23 {
  left: 88.5%;
  top: 75%;
}.image-24 {
  left: 107.5%;
  top: 71%;
}
.animateDown {
  animation-name: slideDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animateUp {
  animation-name: slideUp ;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes slideDown {
  0% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(10px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-10px);
  }
  
  80% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}