.wrapper {
  padding-top: 102px;
  padding-bottom: 102px;
  background: url('/images/mockup_premium_rs.png'), linear-gradient(157.2deg, rgba(112, 116, 211, 0.9) 25.8%, rgba(101, 211, 235, 0.9) 99.14%);
  border-radius: 20px;
  margin-bottom: 8px;
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-position: 75% 100%;
}