@import "/styles/variables.scss";

.wrapper {
  padding-top: 74px;
  padding-bottom: 86px;
  background: url('/images/mockup_premium_rs.png'), linear-gradient(176deg, rgba(112, 116, 211, 0.9) 25.8%, rgba(101, 211, 235, 0.9) 99.14%);
  border-radius: 20px;
  margin-bottom: 8px;
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-position: 75% 100%;
  @media (max-width: $xl) {
    padding-top: 30px;
    padding-bottom: 40px;
    background: url('/images/mockup_premium_rs.png'), linear-gradient(176deg, rgba(112, 116, 211, 0.9) 25.8%, rgba(101, 211, 235, 0.9) 99.14%);
    background-repeat: no-repeat;
    background-size: 23% auto, 100% 100%;
    background-position: 81% 100%;
  }
  @media (max-width: $xl) {
    padding-top: 26px;
    padding-bottom: 32px;
    background-size: 31% auto, 100% 100%;
    background-position: 85% 100%;
  }
  @media (max-width: $md) {
    text-align: center;
    padding-bottom: 221px;
    background-size: 200px auto, 100% 100%;
    background-position: 50% 100%;
  }
}