.jumbotron {
  padding-top: 117px;
  padding-bottom: 117px;
  background: linear-gradient(154.71deg, rgba(67, 117, 191, 0.9) 2.78%, rgba(67, 169, 191, 0.693) 90.98%);
  border-radius: 24px;
  margin-bottom: 8px;
  color: white;
}

.howItWork {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: white;
  border-radius: 24px;
  color: #171717;
}

.whatIsIt {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: white;
  border-radius: 24px;
  color: #171717;
}