@import "/styles/variables.scss";

.recovery {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;

  @media (max-width: $lg) {
    align-items: flex-end;
  }
}

.formWrap {
  background-color: white;
  position: relative;
  height: 75vh;
  max-height: 616px;
  border-radius: 24px;
  padding: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  width: 640px;
  text-align: center;

  @media (max-width: $xl) {
    height: calc(100% - 56px);
    width: 462px;
    padding: 30px;
  }
  @media (max-width: $lg) {
    width: 100%;
    max-height: unset;
    padding: 20px;
  }
}