.recovery {
  height: 100vh;
  display: flex;
  align-items: center;
}

.formWrap {
  background-color: white;
  height: 80vh;
  border-radius: 24px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
}