@import "/styles/variables.scss";

.cardWrapper-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardWrapper-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.iconWrapper {
  &-top {
    display: flex;
    padding: 18px;
    background: #F8F8F8;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  &-left {
    margin-right: 8px;
    width: 36px;
    height: 36px;

    @media (max-width: $md) {
      margin-right: 14px;
    }
  }
}

.cardContent-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}

.cardTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  &-top {
    text-align: center;
  }
}

.cardText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.1px;
  color: #848592;
  &-top {
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
  }

  @media (max-width: $xl) {
    font-size: 14px;
  }
  @media (max-width: $md) {
    letter-spacing: -0.2px;
  }
}